* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

// Reusable Flex classes

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

// General styling

.center-text {
  text-align: center;
}

.bg-grey {
  background-color: grey;
}


// Specific element styling

h1 {
  margin: 30px;
}



form {
  margin-top: 50px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: translateX(50%);
    width: 5%;
    height: 1px;
    // border-top: 1px solid black;
    box-shadow: 0px 0px 0px 3px black;
    transform: rotate(-2.5deg);
  }

  input {
    border: 2px solid black;
    margin-top: 20px;
    &:placeholder {
      font-weight: bold;
      color: black;
    }
  }
}

.book-list {
  margin: auto;
  border: 2px solid black;
  width: 50%;
}

.book-item {
  z-index: -2;
  padding: 7.5px 15px;
  width: 100%;
}

.remove-btn {
  position: relative;
  box-shadow: 4px 2px 0px 0px black;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    box-shadow: 2.5px 2.5px 0px 2px black;
    transform: rotate(-2.5deg);
  }
}