@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

/*
  ========================================
  Reusable Flexbox classes
  ========================================
*/
.flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*
  ========================================
  General styling
  ========================================
*/
.center-text {
  text-align: center;
}

.bg-grey {
  background-color: grey;
}

.minimal {
  text-decoration: none;
  color: black;
}

.border-default {
  border: 2px solid black;
}

.border-right {
  border-right: 2px solid black;
}

.hide {
  display: none;
}

.menu-focus {
  color: blue;
  font-weight: bold;
}

/*
  ========================================
  Positioning, spacing and sizing utilities
  ========================================
*/
.pos-rel {
  position: relative;
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-10 {
  margin: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-y-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-t-50 {
  margin-top: 50px;
}

.p-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-x-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-200px {
  width: 200px;
}

/*
  ========================================
  Specific element styling
  ========================================
*/
body {
  z-index: -7;
}

body main {
  z-index: -6;

  /*
    ========================================
    Button styling
    ========================================
    */
}

body main #list {
  z-index: -5;
}

body main #list .book-list {
  border: 2px solid black;
  z-index: -4;
}

body main #list .book-list .book-item {
  z-index: -3;
}

body main #list .book-list .book-item div {
  -webkit-box-shadow: 4px 2px 0 0 black;
  box-shadow: 4px 2px 0 0 black;
  z-index: -1;
}

body main form input {
  border: 2px solid black;
  padding: 2px 3px;
}

body main form input::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}

body main form input::-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

body main form input:-ms-input-placeholder {
  font-weight: bold;
  color: black;
}

body main form input::placeholder {
  font-weight: bold;
  color: black;
}

body main .btn {
  padding: 3px 7px;
  border: 1px solid black;
}

body main .btn-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -webkit-box-shadow: 2.5px 2.5px 0 2px black;
  box-shadow: 2.5px 2.5px 0 2px black;
  -webkit-transform: rotate(-2.5deg);
  transform: rotate(-2.5deg);
}
